.commonItem{
    border-radius: 10px;
    width:130px;
    height:50px;
    margin: 1rem;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 700;
    cursor: pointer;
    justify-content: space-between
}
.number{
    background-color: white;
    color: black;
    border:1px solid white;
};
.operator{
    background-color: rgb(119, 255, 0);
    color: black;
    border:1px solid rgb(119, 255, 0);
}
.operatorSelected{
    background-color: rgb(56, 69, 44);
    color: black;
    border:1px solid  rgb(56, 69, 44);
}



@media(max-width:500px) {
    .number{
       width:13%;
       height:40px;
       padding-top: 15px;
    };
    .operator{
     width:13%;
     height:40px;
     padding-top: 15px;
  
    }
}
